<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
  </head>
  <body>
    <div id="content">

      <div id="headerContainer">
        <div id="header">
          <img class="logo" src="/static/images/dark.png">
          <h1>Hello logged in {{name}}</h1>
          <button class="button" id="homeButton">HOME</button>
        </div>
      </div>

      <div id="imageContainer">
      </div>

    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/js/profile.js"></script>
  </body>
</html>
