 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon"/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600" rel="stylesheet" type="text/css">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0"/>
  </head>
  <body>
    <div id="content">
      <div id="header">
        <img src="/static/images/DARK.png">
      </div>
      <div id="imageContainer">
        <div class="individualImageDiv">
          <img src="/static/images/oitnb.jpg" class="image">
        </div>
        <div class="individualImageDiv">
          <img src="/static/images/cake.jpg" class="image">
        </div>
        <div class="individualImageDiv">
          <img src="/static/images/square.png" class="image">
        </div>
        <div class="individualImageDiv">
          <img src="/static/images/square.png" class="image">
        </div>
        <div class="individualImageDiv">
          <img src="/static/images/square.png" class="image">
        </div>
        <div class="individualImageDiv">
          <img src="/static/images/square.png" class="image">
        </div>
        <div class="individualImageDiv">
          <img src="/static/images/square.png" class="image">
        </div>
        <div class="individualImageDiv">
          <img src="/static/images/square.png" class="image">
        </div>
      </div>
    </div>
  </body>
</html>
